header {
    width: 1120px;
    margin: 0 auto;
    background: orangered;
}
body {
    background: lightgreen;
}
.image {
    width: 270px;
    height: 150px;
    border: 5px solid dodgerblue;
    border-radius:  2em;
    

}
.images {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}
